<div class="modal-header">
    <h5 class="modal-title text-muted">Detalle Planilla</h5>
</div>
<div class="modal-body card-dark">
  <div class="card">
      <div class="card-body">
        <img class="center-img" src="assets/logo-letras-small.jpg" width="160" height="50" alt="Card image cap">
        <h5 class="card-title text-center">COMPAÑIA DE ECONOMIA MIXTA LOJAGAS</h5>
        <p class="text-muted font-weight-light text-center text-small">
          Calle Valencia entre Burgos y Av. Turunuma. Barrio Turunuma Alto. Telf: 072614614, RUC: 1190067927001
        </p>
        <hr>
        <table id="tableInfo">
          <tbody>
            <tr class="text-muted text-small">
              <td>Beneficiario:</td><td>{{ planilla.beneficiario }}</td>              
              <td></td><td></td>
            </tr>
            <tr class="text-muted text-small">
              <td width="20%">Cliente:</td><td width="50%">{{ planilla.nombre_cliente }}</td>
              <td>RUC/CI:</td><td>{{ planilla.dni_cliente }}</td>
            </tr>              
            <tr class="text-muted text-small">
              <td>Fecha:</td><td>{{ planilla.fecha_documento }}</td>
              <td>Dias Plazo:</td><td>{{ planilla.dias_plazo }} días</td>                
            </tr>          
            <tr class="text-muted text-small">
              <td>Departamento:</td><td>{{ planilla.departamento }}</td>
              <td><b>Factura:</b></td><td>{{ planilla.numero_factura }}</td>
            </tr>
            <tr class="text-muted text-small">
              <td>Tipo Pago:</td><td>{{ planilla.tipo_pago }}</td>
              <td>Medidor:</td><td>{{ planilla.numero_medidor }}</td>                
            </tr>
            <tr class="text-muted text-small">                
              <td>Codigo Pago:</td><td>{{ planilla.codigo_pago }}</td>
              <td>Documento:</td><td>{{ planilla.tipo_documento }} - {{ planilla.codigo_documento }}</td>
            </tr>                            
          </tbody>
        </table>
        <hr>          
        <table id="tableData" class="table table-bordered table-sm">
          <thead>
            <tr class="text-muted text-small thead-light">
              <th class="text-right">Cantidad</th>
              <th>Descripción</th>                
              <th class="text-right">Valor Unitario</th>
              <th class="text-right">Valor Total</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-muted text-small">
              <td class="text-right">1</td>
              <td>GLP DOMESTICO / INDUSTRIAL</td>                
              <td class="text-right">{{ planilla.base }}</td>
              <td class="text-right">{{ planilla.base }}</td>
            </tr>
            <tr class="text-muted text-small">
              <td colspan="3" class="text-right">IVA $</td>
              <td class="text-right">{{ planilla.iva }}</td>
            </tr>
            <tr class="text-muted text-small">
              <td colspan="3" class="text-right">TOTAL $</td>
              <td class="text-right">{{ planilla.total }}</td>
            </tr>              
          </tbody>
        </table>
        <hr>
        <p class="text-danger text-small">* DOCUMENTO SIN VALOR COMERCIAL</p>
        <p class="text-muted text-small text-justify">
          Este documento no es válido como factura, comprobante de pago, ni como sustento para crédito tributario. C.E.M. LOJAGAS no se responsabiliza 
          por el mal uso que se le pudiera dar a esta información y se reserva el derecho de cambios en los valores por nuevos débitos y creditos que puedan
          alterar el TOTAL a pagar.
        </p>
      </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="descargarPdf()">Descargar</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cerrar</button>
</div>