<nav class="navbar navbar-light bg-light bg-white border-bottom shadow-sm">
  <a class="navbar-brand" href="/principal">
    <img src="assets/logo-letras.jpg" width="90" height="30" class="d-inline-block align-top" alt="" loading="lazy">
  </a>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2" routerLink="/principal" routerLinkActive="active">Inicio</a>
    <a class="p-2" routerLink="/pagos" routerLinkActive="active">Pagos</a>
    <a class="p-2" routerLink="/informacion" routerLinkActive="active">Información</a>
  </nav>
</nav>