<div class="card table-responsive" *ngIf="planillas.length > 0">
    <div class="card-header text-muted">
        Planillas Pendientes
    </div>
    <table class="card-table table">
        <thead>
            <tr class="text-muted">
                <th>#</th>
                <th>Fecha</th>
                <th>Factura</th>
                <th>Cliente</th>
                <th>Beneficiario</th>
                <th>Departamento</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody style="width: 100%; max-height: 200px; overflow-y: auto;">
            <tr class="text-muted font-weight-light" *ngFor="let doc of planillas; let idx = index">
                <td>{{ idx + 1 }}</td>
                <td>{{ doc.fecha_documento }}</td>
                <td>{{ doc.numero_factura }}</td>                
                <td>{{ doc.nombre_cliente }}</td>
                <td>{{ doc.beneficiario }}</td>
                <td>{{ doc.departamento}} </td>
                <td>{{ doc.total | currency:'USD' }}</td>
                <td><button type="button" class="btn btn-outline-info btn-sm" (click)="openModal(doc)">Detalle</button></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7" class="text-muted font-weight-light text-right">Total a Pagar:</td>
                <td class="text-danger">{{ getTotal(planillas) | currency:'USD' }}</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>
