
<div class="card" *ngIf="model">
    <div class="card-header text-muted">
        Información de Residencia
    </div>            
    <table class="table-card table font-weight-light">
        <tr class="text-muted"><td><b>Nombre:</b></td><td>{{ model.nombre }}</td></tr>
        <tr class="text-muted"><td><b>Dirección:</b></td><td>{{ model.direccion }}</td></tr>
        <tr class="text-muted"><td><b>Contacto:</b></td><td>{{ model.contacto }}</td></tr>
        <tr class="text-muted"><td><b>Teléfono:</b></td><td>{{ model.telefono }}</td></tr>
    </table>           
</div>