<div class="container-fluid">
  <div class="text-center titulo-pagos">
    <h1 class="lead">Usted puede realizar sus pagos mediante:</h1>
  </div>
  <div class="row text-center">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Banca Electrónica Banco de Loja</h3>
            <img class="icon-pagos" src="assets/online-banking.svg">
            <p class="card-text">Pago mendiante banca electrónica y código Bancario.</p>
            <a href="https://www.bancodeloja.fin.ec/Informaci%C3%B3n/Nuestra-Cobertura/Banca-Electr%C3%B3nica" class="btn btn-link">Ir a banca electrónica</a>
            <hr>
            <a target="_blank" class="btn btn-outline-primary" href="/assets/docs/banca_loja.pdf" download>
              Descargar Manual Banca Electrónica
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Ventanillas del Banco de Loja</h3>
            <img class="icon-pagos" src="assets/banker-people.svg">
            <p class="card-text">Puede realizar el pago en ventanilla de las agencias.</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted small">
                Deberá acercarse a cualquiera de las agencias del Banco de Loja con su código bancario a realizar el respectivo pago por consumo de GLP.
              </li>
            </ul>
          </div>
        </div>      
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Débito Bancario Banco de Loja</h3>
            <img class="icon-pagos" src="assets/money-transfer.svg">
            <p class="card-text">Puede realizar sus pagos mediante débito bancario.</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted small">
                Previamente deberá descargar la autorización para débito bancario, llenarla y traer los siguientes documentos a nuestra matriz.  
              </li>
              <li class="list-group-item text-muted small">
                1. Copia de cédula<br>
                2. Autorización previamente firmada
                <a target="_blank" class="btn btn-outline-primary btn-sm" href="/assets/docs/autorizacion_debito.pdf" download>
                  Descargar Autorización
                </a>
              </li>
              <li class="list-group-item text-muted small">
                Deberá esperar la autorización del banco para el débito correspondiente de su cuenta bancaria.                
              </li>
            </ul>
            <br>
          </div>
        </div>      
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Pago en Ventanilla de Matriz</h3>
            <img class="icon-pagos" src="assets/money.svg">
            <p class="card-text">En oficina facturación de C.E.M. LOJAGAS</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted small">Horarios de atención</li>
              <li class="list-group-item text-muted small">
                Lunes a Viernes de 8:00am - 13:00pm y Sábados de 8:00am - 12:00pm
              </li>              
              <li class="list-group-item text-muted small">
                Dirección: Calle Valencia entre Burgos y Av. Turunuma. Barrio Turunuma Alto.
              </li>
              <li class="list-group-item text-muted small">
                Teléfono: 072 614 614
              </li>
            </ul>        
          </div>
        </div>      
      </div>
  </div>          
</div>
