  
.icon-pagos {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 40%;
    height: 40%;
}

.pago-subtitulo {
    padding-top: 0.3em;
    color: #b0adad;
    font-size: small;
}

.card-title .titulo {
    font-size: 3em;
}

.titulo-pagos {
    padding-top: 1em;
    padding-bottom: 1em;
}

.titulo-pagos h1 {
    font-size: 2.5em;
}