body {
  background-color: #fff;
  min-height: 100vh;
}

.titulo-pagos {
  padding-top: 1em;
  padding-bottom: 1em;
}

.titulo-pagos h1 {
  font-size: 2.5em;
}

.row-captcha {
  padding-top: 1em;
}

.login-img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left;
  object-position: left;
}

.texto-ayuda {
  font-size: 15px;
  color: #b0adad;
  padding-bottom: 1em;
}

.form-signin {
  width: 100%;
  max-width: 300px;    
  margin: 0 auto;
}

.center-elem {
  display: flex; 
  justify-content: center;
}

