<div class="container-fluid" ngxUiLoaderBlurred>
    <div class="text-center titulo-pagos">
        <h1 class="lead">CONSULTA DE PLANILLAS DE GAS CENTRALIZADO</h1>
    </div>
    <!-- Form criterio busqueda -->
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm)" class="form-signin justify-content-center" [hidden]="!showNewSearch">
        <div class="form-group">
            <input type="text" placeholder="Ingrese cédula, ruc o código bancario" formControlName="txtCriterio" id="txtCriterio" name="txtCriterio" class="form-control" aria-describedby="bsqerrors">
        </div>
        <div class="form-group">
            <re-captcha (resolved)="resolved($event)" formControlName="recaptchaReactive" siteKey="{{ siteKey }}"></re-captcha>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn" [ngClass]="{'btn-secondary':estadoBtnSubmit, 'btn-primary':!estadoBtnSubmit}" [disabled]="estadoBtnSubmit">Buscar</button>
        </div>
    </form>
    <!-- Container aviso -->
    <div class="col-sm-12 text-center font-weight-light" role="alert">
        <small>
			Sus facturas serán actualizadas en un lapso de 24 horas a partir del pago en la entidad bancaria. 
			Si desea obtener sus facturas puede hacerlo desde el portal de <a href="https://inbox.ecofactura.ec/Account/LogOn">Ecofactura</a>
        </small>
        <hr>
        <small>Contacto para más información</small><br>
        <small>Tania Lopez - Asistente de Comercialización</small><br>
        <small>
        <a href="mailto:asistente.comercializacion@lojagas.com" target="_blank">asistente.comercializacion@lojagas.com</a>
        &bull; Telf: 072-614-614 Ext. 150 &bull; Cel: 0996801816
      </small>
    </div>
    <!-- Button nueva busqueda -->
    <div class="row center-elem col-sm-12" [hidden]="showNewSearch">
        <button type="button" (click)="resetForm()" class="btn btn-primary mb-3 mt-3">Nueva Búsqueda</button>
    </div>
    <!-- Row container componentes -->
    <div class="row">
        <div class="col-sm-3">
            <app-principal-residencia [model]="residencia"></app-principal-residencia>
        </div>
        <div class="col-sm-9">
            <app-principal-planillas [planillas]="listaPlanillas"></app-principal-planillas>
        </div>
    </div>
    <!-- notificaciones toast -->
    <app-toasts></app-toasts>
</div>
<!-- loader spinner -->
<ngx-ui-loader></ngx-ui-loader>