<div class="col-12">    
    <div class="text-center titulo-info">
        <h1 class="lead">Información</h1>
    </div>
    <hr>
    <h3 class="font-weight-light">* CAMBIO DE PROPIETARIO DE GAS CENTRALIZADO EN EDIFICIOS</h3>
    <h6 class="text-muted font-weight-light">
        Si usted es el nuevo propietario de un departamento con gas centralizado en algún edificio de la ciudad de Loja 
        por favor ayúdenos enviando la siguiente información al correo electrónico <b>asistente.comercializacion@lojagas.com</b>        
    </h6>
    <br>
    <ol class="text-muted">
        <li>Solicitud debidamente firmada indicando el cambio de propietario (nombre del edificio, número de departamento, 
            motivo: Ejem. Compraventa), 
            (<a target="_blank"  href="/assets/docs/solicitud_cambio.docx" download><small>Descargar Solicitud</small></a>).
        </li>
        <li>Copia escaneada de cédula y (certificado de votación si lo tiene) de la persona que va a constar como propietaria/o</li>
        <li>Copia escaneada de las escrituras del departamento a nombre de la nueva/o propietaria/o </li>
        <li>Formulario con la información del nuevo cliente a facturar. 
            (<a target="_blank"  href="/assets/docs/formulario_ingreso_ic.docx" download><small>Descargar Formulario</small></a>)
        </li>
        <li>Formulario de autorización para débito bancario aplica solo a cuentas en el Banco de Loja (en el caso de que requieran), 
            caso contrario se les proporcionará un código bancario para realizar el pago en ventanilla o banca electrónica del Banco de Loja.
            (<a target="_blank"  href="/assets/docs/autorizacion_debito.pdf" download><small>Descargar Autorización</small></a>)
        </li>
    </ol>
    <br>
    <h6 class="text-muted font-weight-light">
        Adicionalmente se indica que con la documentación proporcionada se va a realizar un <b>CONTRATO DE ABASTECIMIENTO DE GLP AL GRANEL</b>, 
        el mismo que notificaremos cuando se encontrará listo para su revisión y firma respectiva. Para cualquier información contactarse con 
        Tania López al número celular (llamadas o WhatsApp) 0996801816 o a los correos 
        <a href="mailto:asistente.comercializacion@lojagas.com" target="_blank">asistente.comercializacion@lojagas.com</a> o al
        <a href="mailto:comercializacion@lojagas.com " target="_blank">comercializacion@lojagas.com </a>        
    </h6>
    <h6 class="text-danger">
        <b>Nota:</b> Antes de realizar el cambio de propietario verificaremos que el estado de cuenta de la propietaria/o anterior se encuentre saldado. 
    </h6>
</div>
